body{
    background: beige;
}
.flex-container {
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
  /* flex-direction: row;
    flex-wrap:wrap; 
    align-items: flex-start; flex-end; stretch;
    
    justify-content: space-around;
    
    align-items: center;
    height: 600px;
    */
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;       
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.caja {
    border: 1px solid rgb(70,69,69); 
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    /*height: 120px;*/
    text-align: center;
    line-height: 200px;
    margin:5px;
    /*overflow:hidden;*/
 }

.c1 {
  background: lightblue;
  order:2;
  flex-grow:1;
  flex-basis: 50%;
}
.c2 {
    background: lightcoral;
    order:3;
    flex-grow:1;
}
.c3 {
    background: lightgreen;
    order:1;
    flex-grow:1;    
}



