body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    margin: 10px solid #000;
    padding: 10px;
    width: 700px;
    height: 800px;
    background: linear-gradient(to right, #ff6b6b, #ffa500);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.imagen-zoom {
    border:20px;
    padding: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
}
.imagen-zoom img {
    width: 30%;
    height: 30%;
    padding: 30px;
    margin: 10px solid #000; 
    object-fit: fill;
    transition: transform 0.5s ease;
}
.imagen-zoom:hover img {
transform: scale(1.2);
}