body {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 450px;
    height: 450px;
    background: linear-gradient(to left, #2ed573, #7bed9f, #ff6b6b);
}
.imagen-brillo {
    text-align: center;
    overflow: hidden;
    transition: filter 0.5s ease;
}
.imagen-brillo img {
    padding:5px;
    margin: 5px;
    width: 95%;
    height: 95%;
    object-fit: cover;
    filter: brightness(1);
    transition: filter 0.5s ease;
}
.imagen-brillo:hover img {
    filter: brightness(2);
}