*{
    text-align:center;
    color:#FFF;
    font-family:'Oswald';
    word-spacing: 3px;
    background-image: url('../img/fondo1.jpg');
    background-repeat: repeat;
    background-size: 60px 60px 200px 200px;
}

/* .fondo {
  background-image: url('../img/fondo1.jpg');
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */